<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <!--<property name="connection.url">jdbc:h2:mem:navin;DB_CLOSE_DELAY=-1;MVCC=TRUE</property>-->
        <property name="connection.url">jdbc:h2:~/carservice/db</property>
        <!--<property name="connection.url">jdbc:h2:tcp://localhost/~/db-test.h2</property>-->
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!--Drop and re-create the database schema on startup-->
        <property name="hbm2ddl.auto">update</property>

        <!-- Enable Hibernate stats in the logs -->
        <property name="hibernate.generate_statistics">false</property>

        <!-- Full names the annotated entity class -->
        <mapping class="mas.model.Service"/>
        <mapping class="mas.model.CarPart"/>
        <mapping class="mas.model.Cleaning"/>
        <mapping class="mas.model.DeliveryAddress"/>
        <mapping class="mas.model.TiresSwap"/>
        <mapping class="mas.model.TechnicalRepair"/>
        <mapping class="mas.model.User"/>
        <mapping class="mas.model.Worker"/>
        <mapping class="mas.model.Client"/>
        <mapping class="mas.model.Administrator"/>
        <mapping class="mas.model.Mechanic"/>
        <mapping class="mas.model.Deliverer"/>
        <mapping class="mas.model.TicketMechanic"/>
        <mapping class="mas.model.Ticket"/>
        <mapping class="mas.model.Opinion"/>

    </session-factory>
</hibernate-configuration>